@font-face {
	font-family: 'abodoninova';
	src: url(../fonts/abodoninova.ttf);
}

@font-face {
	font-family: 'AGBenguiatCyr';
	src: url(../fonts/AG Benguiat Cyr Book.ttf);
}

@font-face {
	font-family: 'AGAalenBold';
	src: url(../fonts/AGAalenBold Roman.ttf);
}


@font-face {
	font-family: 'ag_letterica_bold';
	src: url(../fonts/ag_letterica_bold.ttf);
}

@font-face {
	font-family: 'AGSOUC';
	src: url(../fonts/AGSOUC.TTF);
}

@font-face {
	font-family: 'ColabBol';
	src: url(../fonts/ColabBol.otf);
}

@font-face {
	font-family: 'ColabLig';
	src: url(../fonts/ColabLig.otf);
}

@font-face {
	font-family: 'ColabMed';
	src: url(../fonts/ColabMed.otf);
}

@font-face {
	font-family: 'ColabReg';
	src: url(../fonts/ColabReg.otf);
}


@font-face {
	font-family: 'ColabThi';
	src: url(../fonts/ColabThi.otf);
}

@font-face {
	font-family: 'Copse-Regular';
	src: url(../fonts/Copse-Regular.ttf);
}

@font-face {
	font-family: 'crashctt';
	src: url(../fonts/crashctt.ttf);
}

@font-face {
	font-family: 'MyriadPro';
	src: url(../fonts/MyriadPro-Semibold.otf);
}








